<div id="buttons">
    <button (click)="onGetAllBooks()">Get All books</button>
    <button (click)="toggleForm('byId')">Get Book By Id</button>
    <button (click)="toggleForm('byAuthor')" >Get Book By Author</button>
    <button (click)="toggleForm('addBook')">Add book</button>
    <button (click)="toggleForm('deleteById')">Delete book</button>
</div>



<app-form *ngIf="showForm" [type]="formType" (formResponse)="handleResponse($event)"></app-form>
<app-book-details *ngIf="showComponent" [books]="books"></app-book-details>